<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patientenakte</title>
    <link href="styles/patientenakte.css" type="text/css" rel="stylesheet">
</head>
<body>
<!-- Übersicht der Patientendaten (Patientenakte)-->
<img src="resources/patientenakte.png" id="patientenakte" alt="Patientenakte Kategorie">



<form action="arzt_page">
    <input type="image" id="schließen_button" src="resources/button_schließen_blau.png" alt="schließen button" class="bottom_right">
</form>


<div class="koerper">
    <div>

        <button id="kopf"><img src="resources/kopf.png" style = "width: 10.5em;"/></button>

    </div>

    <div>

        <button id="oberkörper" ><img src="resources/ober_mit_hand.png"style = "width: 17.5em;"/></button>

    </div>

    <div style= "height: 0em;">

        <button id="beine"><img src="resources/beine.png" style=" width: 8em;"/></button>
    </div>
</div>


<div class=" daten"> <!-- Vorname, Nachname, Alter, Geschlecht, Email und Krankheit des Patienten wird dynamisch generiert-->
    <p> {{vname}}</p>
    <p> {{nname}}</p>
    <p> {{alter}}</p>
    <p> {{geschlecht}}</p>
    <p> {{email}}</p>
    <p> {{krankheit}}</p>
</div>

<div class="werte">
    <div id="gehirn">
        <img src="resources/gehirn.png"  alt="Gehirn">
        <br>
        <p id="GW">{{EEG}} Hertz</p> <!-- Vitalparameter EEG wird dynamisch generiert.-->
    </div>

    <div id="herz">
        <img src="resources/herz.png" alt="Herz">
        <br>
        <p id="HW">{{EKG}} mm/s</p><!-- Vitalparameter EKG wird dynamisch generiert.-->
    </div>

    <div id="lunge">
        <img src="resources/lungen.png" id="lunge" alt="Lunge">
        <br>
        <p id="LW">{{LVolumen}} mm³</p><!-- Vitalparameter Lungenvolumen wird dynamisch generiert.-->
    </div>

    <div id="nieren">
        <img src="resources/nieren.png" id="nieren" alt="Niere">
        <br>
        <p id="NW">{{GGT}} U/I</p><!-- Vitalparameter GGT wird dynamisch generiert.-->
    </div>
</div>
</body>
</html>